body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6a172;
}

.gameCanvas {
    margin-left: 50px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}